{% extends "layouts/layout.jinja" %}

{% block body %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <h1> Prepare yourself... </h1>
        <h4> Wierd quotes incoming. </h4>
    </div>
</div>
{% endblock %}
